@inherits LayoutComponentBase

<TelerikRootComponent>
    <div>
        <div class="top-row">
            <TopBar/>
        </div>
        <div>
            @Body
        </div>
    </div>
</TelerikRootComponent>

@code{
    

    
}
