.top-row[b-d9rhw13c0i] {
    /*background-color: #00c9d1;*/
    background-color: black;
    border-bottom: 1px solid #d6d5d5;
    width: 100%;
    height: 3.5rem;
    align-items: center;
}

.top-row[b-d9rhw13c0i]  a, .top-row .btn-link[b-d9rhw13c0i] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-d9rhw13c0i] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    /*.top-row:not(.auth) {
    display: none;
}*/

    .top-row.auth[b-d9rhw13c0i] {
        justify-content: space-between;
    }

    .top-row a[b-d9rhw13c0i], .top-row .btn-link[b-d9rhw13c0i] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {

    .top-row[b-d9rhw13c0i] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-d9rhw13c0i], article[b-d9rhw13c0i] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
