.title[b-oyocz6ny4v] {
    font: 35px bolder;
    color: white;
    display: flex;
    justify-content: flex-start;
    float: left;
}

@media (max-width: 800px) {
    .title:not(.auth)[b-oyocz6ny4v] {
        display: none;
    }
}

.shortcut[b-oyocz6ny4v] {
    color: white;
    float: right;
    display: flex;
    justify-content: flex-end;
    margin-top: 1%;
}

.navicon[b-oyocz6ny4v] {
    margin-top: 2%;
}

.userinfo[b-oyocz6ny4v] {
    color: white;
}

@media (max-width: 800px) {
    .shortcut[b-oyocz6ny4v] {
        margin-top: 5%;
    }
}

.id[b-oyocz6ny4v] {
    width: 100%;
}

.pw[b-oyocz6ny4v] {
    width: 100%;
    margin-top: 11%;
}

.btn[b-oyocz6ny4v] {
    margin-left: 55%;
}
