

<div class="container">
    <div class="LoginBox">
        <div class="LoginImg">
            <img class="img" src="Image/login.jpg" />
        </div>
        <div class="LoginData">
            <TelerikForm Model="@Loginfo" OnSubmit="LoginCheck" Width="100%">
                <FormItems>
                    <div class="id">
                        <FormItem Class="loginput" Field="@nameof(Loginfo.Id)"></FormItem>
                    </div>
                    <div class="pw">
                        <FormItem Class="loginput" Field="@nameof(Loginfo.Pw)"></FormItem>
                    </div>
                </FormItems>
                <FormButtons>
                    <div class="Login">
                        <TelerikButton ButtonType="ButtonType.Submit" ThemeColor="@ThemeConstants.Button.ThemeColor.Primary">로그인</TelerikButton>
                    </div>
                </FormButtons>
            </TelerikForm>
        </div>
        <div class="Loginbtn">
            <span class="Forgot"><a href="">아이디/비밀번호 찾기</a></span>
            <span class="Joinus"><a href="">회원가입</a></span>
        </div>
    </div>
</div>




@code {
    private Member Loginfo = new Member();
    private List<Member> Members = new List<Member>();

    protected async override Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        Members.Add(new Member { Id = "admin", Pw = "admin", Email = "admin@ebsoft.kr" });
        //await MemberService.CreateMemberAsync(Members[0]);

        Console.WriteLine(Members[0].Id);
        Console.WriteLine(Members[0].Pw);
        Console.WriteLine(Members[0].Email);
    }

    async void LoginCheck()
    {
        Member result = new();
        if(Loginfo.Id != null)
        {
            //result = await MemberService.GetMemberByIdAsync(Loginfo.Id);
        }
        if(result != null)
        {
            await Task.Delay(1000);
            navigationManager.NavigateTo("/main");
        }
        else
        {
            
        }

    }
}





<style>
    .loginput {
        height: 20px;
    }
</style>