
<div class="modal">
    <TelerikWindow Class="demo-window" Width="100%" Height="70%" Centered="true" @bind-Visible=@WindowVisible Modal="true">
        <WindowTitle>
            <strong>Modal Window</strong>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Close" />
        </WindowActions>
        <WindowContent>
            <p>Click the close button to dismiss this modal dialog.</p>
        </WindowContent>
    </TelerikWindow>
</div>

@code {
    [Parameter]
    public bool WindowVisible { get; set; }
}
