@page "/report/{category}"
<div class="container">
    <TelerikTabStrip @bind-ActiveTabIndex="@ActiveTabIndex">
        <TabStripTab Title="일일 보고서">
            <Repo_Daily category="@category"></Repo_Daily>
        </TabStripTab>
        <TabStripTab Title="주간 보고서">
            <Repo_weekly category="@category"></Repo_weekly>
        </TabStripTab>
    </TelerikTabStrip>
</div>

@code {
    [Parameter]
    public string category { get; set; } = null!;

    public int ActiveTabIndex { get; set; } = 0;
}
