.header {
    margin-top: 4%;
}

.title {
    font: 40px bolder;
}

.formbtn {
    display: flex;
    justify-content: end;
}

.btntext {
    margin-top: 17px;
    color: white;
    font-size: 15px;
}
