<span class="title">Report</span>
<span class="shortcut">
    <span class="navicon">
        <TelerikMenu Data="@MenuItems" OnClick="@((MenuItem item) => OnClickHandler(item))" />
    </span>
    <span class="userinfo">
        <TelerikMenu Data="@userinfo" OnClick="@((MenuItem item) => OnClickHandler(item))" />
    </span>
</span>

@code {
    private List<MenuItem> userinfo { get; set; }
    private List<MenuItem> MenuItems { get; set; }
    private string user = "사용자";

    protected override void OnInitialized()
    {
        MenuItems = new List<MenuItem>()
        {
            
            new MenuItem()
            {
                Icon = "home",
                subt = "home"
            },
            new MenuItem()
            {
                Icon = "gear",
                subt = "setting",
            }
            // new MenuItem()
            //{
            //    Icon = "star"
            //}
        };

        userinfo = new List<MenuItem>()
        {
            new MenuItem()
            {
                Text = user,
                Icon = "user",
                subt = "user",
                Items = new List<MenuItem>()
                {
                    //new MenuItem()
                    //{
                    //    Text = "내 정보 보기",
                    //    Icon = "accessibility",
                    //    subt = "내 정보 보기"
                    //},
                    new MenuItem()
                    {
                        Text = "정보 수정",
                        Icon = "track-changes-enable",
                        subt = "정보 수정"
                    },
                    new MenuItem()
                    {
                        Text = "로그 아웃",
                        Icon = "logout",
                        subt = "로그 아웃"
                    },
                }
            },
        };

        base.OnInitialized();
    }
    protected void OnClickHandler(MenuItem item)
    {
        //클릭한 아이템 if 처리하여 navigation 코딩
        if (item.subt.Equals("setting"))
        {
            
        }
        if (item.subt.Equals("home"))
        {
            navigationManager.NavigateTo("/");
        }
        if (item.subt.Equals("user"))
        {

        }
        //if (item.subt.Equals("내 정보 보기"))
        //{

        //}
        if (item.subt.Equals("정보 수정"))
        {

        }
        if (item.subt.Equals("로그 아웃"))
        {
            sessionStorage.ClearAsync();
            navigationManager.NavigateTo("/");
        }
    }
}
